*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border :border-box;
}
.navber{
   
    display :flex;
    height: 150px;
     justify-content: space-evenly;
    align-items: center;
    background-image:url(navback.jpg);
    background-size: cover;
    flex-wrap: wrap;
} 
.navberbutton{
    font-weight: bolder;
    
    display: flex;
    align-items: center;
    /* border:3px solid black; */
    height: 29%;
    text-align: center;
    /* background-image: url(navberbackground.jpg); */
    background-color: rgba(255, 196, 0, 0.938);
    background-size: cover;
    position: relative;
    bottom:30px ;
}
.navHEADING{
    color: rgb(180, 118, 37);
    flex-direction: column;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border:8px solid rgba(255, 196, 0, 0.938);
    position: relative;
    top:25px ;
    height: 200px;
    width: 250px;
    border-radius: 50%;
     /* background-color: white; */
    background-image:url(heading\ logo.jpg);
    background-size: cover;
}
.border{
    border: 3px solid rgba(197, 152, 5, 2);
}
.border:hover{
    border: 7px solid white;
}
#shopabout{
    color: rgba(255, 196, 0, 0.938);
    position: relative;
      top:47px ;
    font-size: 10px;
    font-weight: normal;
    text-transform: capitalize;
}
#shopname{
    position: relative;
    top:47px ;
}
body{
    background-color: rgb(87, 85, 85);
}

.footerofthepage{
    margin-top: 0px;
    height: 200px;
    background-color: rgb(32, 30, 30);
}
.footerdetails{
    font-weight: bolder;
    margin-top: 20px;
    color: white;
}
.footercontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  
}
.officialaddress{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#Address{
    margin-top: 20px;
    font-weight: bold;
    font-size: 60%;
    color: grey;
    text-align: start;
    
}
ul{
    list-style-type: none;
    padding-left: 0%;
}
.officialemail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#email{
    margin-top: 20px;
    font-weight: bold;
    font-size: 80%;
    color: grey;
    text-align: start;
}
.OFFICIALSOCIAL{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#socialmedia{
    margin-top: 20px;
    font-weight: bold;
    font-size: 80%;
    color: grey;
    text-align: start;
}
/* footer{
  margin-top: 10%
} */


.mycart {
   font-size: 200%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   font-weight: bolder;
   border:8px solid rgba(255, 196, 0, 0.938);
   background-color: white;
   margin-top: 120px;
   margin-left: 10%;
   margin-right: 10%;
}
#qeer{
    position: relative;
    left :93%;
    /* top: 900px; */
    background-color: rgba(255, 196, 0, 0.938);
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.contentlist{
    height: 280px;
    width: 280px;
    border: 20px solid rgb(241, 169, 60);
    margin-right: 12%;
    margin-top: 60px;
    background-color: black;

}
.contentholder{
    display: flex;
    justify-content: flex-end;
}
h3{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
}
.contentlist{
     color: white;
    text-transform: uppercase;
}
.wholeingredient{
    display: flex;

}
.nameofingredients{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}
.priceofingredients{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}
.subholder{
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(212, 212, 212);
    /* margin-top: 100px; */
    border-top: 20px solid white;
}
.picture{
    background-image: url(Hatch-Chile-Smash-Burger.jpg);
    background-size: cover;
    height: 150px;
    width: 230px;
    margin-top: 100px;
    /* margin-left: 24%; */
}

.addingredents{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  /* justify-content: space-evenly;
  align-items: flex-end; */
  width: 45%;
   background-color: white;
   margin-bottom: 5%;
   border: 2px solid rgb(105, 105, 105);
   border-top: 2px solid white;
   box-shadow: 5px black;
   
}
.buttonofyours{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
   background-color: white;
   margin-bottom: 5%;
}
.NAMEOFINGREDENTS3{
    background-color: rgba(255, 196, 0, 0.938);
    height: 40px;
    width: 100px;
   
}
.forextradiv{
    height: 80%;
}
.forextradiv{
     display: flex;
     /* flex-direction: column; */
     justify-content:center ;
     
}
.headingofcontent{
    height: 30%;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
}
.price{
    height: 70%;
    width: 35%;
    background-color: black;
    margin-left: 5%;
    border: 8px solid white;
   
}
.price{
    display: flex;
}
.whatistheprice{
    width: 50%;
}
.amountofprice{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    width: 50%;
    flex-direction: column;
}
#weer{
    width: 300px;
    height: 100%;
    background-color: rgb(255, 51, 0);
    font-size: large;
    font-weight: bolder;
    color: white;
    
}
.whatistheprice{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 7%;

}
.onlytext{
    color: rgb(160, 154, 154);
    font-size: small;
}
.payamount{
    font-size: x-large;
    font-weight: bolder;
    color: white;
}
.allitems{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.itemsplus{
    height: 220px;
  min-width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #FFF; */
  /* border-radius: 12px; */
  border-top-left-radius:12px ;
  border-top-right-radius:12px ;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  flex-direction: row;
  background-color: antiquewhite;
 
    /* background-color: antiquewhite;
    height: 150px;
    width: 230px;
    margin-top: 100px;
    margin-left: 24%; */
}
span{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
 span.num{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
  .num{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
    width: 20%;
  }
  .itsforjs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79%;
    
  }
  .headofingre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 75%;
    font-weight: bolder;
    width: 70%;
     margin-left: 4%;

  }
  #reer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .calculate{
    align-self: flex-end;
    margin-bottom: 5px;

  }
  .calculateon{
    background-color: rgb(228, 165, 31);
  }